<strong>Hi, {{ student }}</strong>
<p>Follow your answer about help order</p>
<p>
    <strong>Question: </strong> {{ question }}<br />
    <strong>Answer: </strong> {{ answer }}<br />
    <br />
</p>
