<strong>Hi, {{ student }}</strong>
<p>Welcome, your enrollment has been done with success</p>
<p>
    <strong>Plan: </strong> {{ plan }}<br />
    <strong>Valid: </strong> {{ end_date }}<br />
    <strong>Price: </strong> {{ price }}<br />
    <br />
</p>
